/* src/components/Word.css */
.word {
  display: flex;
  cursor: pointer;
}

.word.vertical {
  flex-direction: column;
}

.word.selected {
  background-color: yellow; /* Highlight color for selected words */
}

.letter {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
