/* src/App.css */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.holding-area-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.words-container {
  margin-top: 20px;
}
